@media screen and (max-width : 800px) {

    body {
        display: flex;
        flex-direction: column;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
    }
    div.toc {
        font-size: 90%;
        position: relative;
        top: initial;
        left: initial;
        width: 95%;
        /* max-width: initial;
        min-width: initial; */
        margin: 0 auto 1em;
    }
    div {
        margin-left: initial;
        max-width: initial;
    }
    div.poem {
        margin-left: initial;
    }
    ul {
        padding-left: 1.25em;
    }
    div.toc ul li {
        margin-left:0px; /* initial; */
    }
    p.poetry {
        margin: 0 1em 0 3em;
        text-indent: -1em;
    }
    
    .mobileHide {
        display:none;
    }
}
